// Desktop Default Styling
.ask-question{
  padding-top: @spMainPaddingTop;
  padding-bottom: 75px;
  .main-container{
    background-color: white;
    padding-right: @sp20;
    padding-left: @sp20;
    padding-top: 0;
    border-radius: 3px;
    .question-title-input{
      width: 100%;
      background-color: @WhiteSmoke;
      padding: @sp20;
      &:focus{
        border: 1px solid @LimeGreen;
        outline: none;
      }
    }
    .help-question{
      margin-top: 50px;
      i{
        font-size: 25px;
        color: @DodgerBlue;
        float: right;
        &:hover{
          color:@CoralOrange;
        }
      }
    }
    .suggested-tags-header{
      font-weight:600;
      font-size:@sp15;
    }
    .suggested-tags-info{
      font-size:@sp15;
      font-weight:300;
      color: @DarkGrey;
    }
    .suggested-tags{
      margin:50px 0 30px 0 ;

      .suggested-tags-wrapper{
        line-height: 2;
      }
    }
    .question-detail-input{
      width: 100%;
      background-color: @WhiteSmoke;
      min-height: 200px !important;
    }
    .focus-question-detail{
      background-color: transparent;
    }
    .submit-answer-button{
      padding: @sp20 0 50px 0;
      .com-btn--secondary {
        margin-right: 30px;
      }
      .com-btn--state-primary{
        padding: @sp10 50px @sp10 50px;
      }
      .button-space{
        margin-bottom: 50px;
      }
      .progress-button{
        width: 240px;
        height: 40px;
      }
    }
    .discovered-tags-wrapper{
      .hashtags{
        cursor: pointer;
        background-color: #fff;
        color:#000;
        border: 1px solid @MidGrey;
        border-radius: 3px;
        &:hover {
          background-color: @CoralOrange;
          border: 1px solid @CoralOrange;
          color:#fff;
        }
      }
    }
    .animated-content.ng-enter, .animated-content.ng-move {
      transition: all 1s linear;
      opacity: 0;
    }
    .animated-content.ng-enter.ng-enter-active,
    .animated-content.ng-move.ng-move-active {
      opacity: 1;
      transition: all 1s linear;
    }
    .animated-content.ng-leave {
      animation: 1s leave_animation;
    }
  }

  .ask-question-advice {

    font-size:12px;
    padding: 0 0 @sp15 0;

    h4 {
      color: @CoralOrange;
      font-weight: 600;
      font-size: 16px;
      padding:10px 15px;
      margin:0px;
      border-bottom: 1px solid @CoralOrange;
    }
    ul {
      padding-left:16px;
      list-style-type: square;
    }
    li {
      padding-bottom: @sp10;
      span {
        text-transform: none;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: @DarkGrey;
        b{
          color: black;
        }
      }
    }
    div.content-wrapper{
      margin:0px 15px;
      padding-top:10px;
    }
  }
  .video-thumb{
    margin-left: auto;
    width: 231px;
    height: 150px;
    margin-right: auto;
    border: 1px solid @DimGrey;
    background-image: url("../img/VideoThumb.gif");
    background-position: 0px 0px;
    background-size: 231px;
    background-repeat: no-repeat;
    div{
      padding-top: 50px;
      color: @WhiteSmoke;
      font-size: 45px;
      text-align: center;
    }
    &:hover{
      cursor: pointer;
    }
  }
}


.title-row{
  padding-bottom: 15px;
  padding-top: 10px;
  .countdown{
    float: right;
    margin-top: @sp5;
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
  }
  .countdown-red{
    color: @IndianRed
  }
  .countdown-green{
    color: @LimeGreen
  }
  .help{
    margin-top: @sp5;
    margin-right: @sp5;
    font-size: 12px;
    font-style: italic;
    float: right;
    color: @DimGrey;
  }
}

div.typehead{
  background-color: #fff;
}

@media only screen and (max-width: @screenTabletSize) {
  .ask-question {
    padding-top: 30px;
    padding-bottom: 30px;
    .video-link{
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {
  .ask-question {
    padding-top: 0;
    padding-bottom: 0;
    .video-link{
      font-size: 10px;
    }
  }
}


// Phone Screen Changes
@media only screen and (max-width: @screenPhoneSize) {
  .ask-question {
    padding-top: 0;
    padding-bottom: 0;
    .main-container {
      padding-top: 40px;
      .help-question{
        margin-top: 25px;
      }
      .submit-answer-button{
        .com-btn--state-primary{
          font-size: 10px;
          padding: @sp10 30px @sp10 30px;
        }
        .com-btn--secondary {
          font-size: 10px;
        }
      }
    }
  }
}


