.question-answers{
  min-height:90vh;
  padding-top: @spMainPaddingTop;
  padding-bottom: 75px;
  .main-container{
    background-color: white;
  }
  .question-box{
    padding-top: 20px;
  }
  .answer-box, .question-box{
    &.divider{
      border-bottom: 1px solid #d3d3d3;
      margin-left: 0;
      margin-right: 0;
      padding-top: 30px;
      padding-bottom: 15px;
      min-height: 150px;
    }
    .avatar-container{
      text-align: center;
    }
    .user-link{
      padding-top: @sp15;
      font-size: 12px;
      color: @DodgerBlue;
    }
    .vote{
      min-width: 40px;
      text-align: center;
      padding-bottom: @sp10;
      padding-left: 0;
      .vote-up, .vote-down{
        font-size: @sp20;
        color: @DodgerBlue;
        text-decoration: none;
        &:hover{
          color: @CoralOrange;
          cursor: pointer;
        }
      }
      .voted{
        color: @MidGrey;
      }
      .vote-fav{
        display: block;
        font-size: @sp20;
        color: @MidGrey;
        padding-bottom: @sp5;
        padding-top: @sp10;
      }
      .vote-text{
        display: block;
        color: @DimGrey;
      }
    }
    .time{
      color: @DimGrey;
      font-size: 11px;
      font-style: italic;
      margin-bottom: 10px;
    }
    .question-title{
      margin-bottom: 10px;
      color: @DarkGrey;
      font-size: 20px;
      font-weight: @semiBold;
    }
    .question-description{
      color: @DarkGrey;
      font-size: 13px;
      line-height: 26px;
    }
  }
  .selected--answer{
    border: 1px solid @LimeGreen !important;
    border-radius: @borderRadiusBase;
    padding-top: 0 !important;
    margin-bottom: @sp20;
    .container__mod{
      padding: @sp10 @sp15 @sp10 @sp15;
      border-bottom: 1px solid @LimeGreen;
      margin-bottom: 30px;
    }
    .text__mod{
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 3px;
      color: @LimeGreen;
    }

  }
  .vote-count{
    font-size: 27px;
    color: @DarkGrey;
    font-weight: 600;
    display: block;
  }
  .avatar-list{
    background-color: @WhiteSmoke;
    border-radius: @borderRadiusBase;
    margin: @sp20 0;
    .avatar-box{
      height: 80px;
      .text, .answers-count{
        color: @CoralOrange;
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
        font-weight: @bold;
        line-height: 80px;
        float:left;
      }
      .answers-count{
        margin-right: 8px;
      }
      .text{
        padding-right: @sp20;
      }
      .avatar-box-image{
        float: left;
        display: inline-block;
        padding: 15px @sp10 0 0;
      }
      .avatar-box-more{
        float: left;
        line-height: 80px;
      }
    }
    .com-btn--primary_mod {
      width: 240px;
      margin-right: 0;
      float: right;
      position: relative;
      top: 25%;
    }
  }
  .no-answers{
    border: 1px solid @CoralOrange;
    border-radius: @borderRadiusBase;
    margin: @sp20 25px @sp20 25px;
    height: 80px;
    position: relative;
    .community-h1__mod{
      color: @CoralOrange;
      display: inline-block;
      padding-left: @sp10;
      padding-top: @sp5;
    }
    .com-btn--secondary_mod{
      right: @sp15;
      position: absolute;
      top:25%
    }
  }
  .animated-content.ng-enter, .animated-content.ng-move {
    transition: all 1s linear;
    opacity: 0;
  }
  .animated-content.ng-enter.ng-enter-active,
  .animated-content.ng-move.ng-move-active {
    opacity: 1;
    transition: all 1s linear;
  }
  .animated-content.ng-leave {
    animation: 1s leave_animation;
  }

  @keyframes leave_animation {
    from { opacity:1; }
    to { opacity:0; }
  }
  .post-answer{
    width: 240px;
    margin-top: @sp20;
    margin-bottom: 50px;
    float: right;
  }
  .cancel-post-answer{
    float: right;
    margin-top: @sp20;
    margin-right: @sp20;
  }
  .post-answer-container{
    padding: @sp20 40px @sp20 40px;
    textarea{
      width: 100%;
      min-height: 200px !important;
    }
  }
}


@media only screen and (max-width: @screenTabletSize) {
  .question-answers{
    .avatar-list{
      margin-right: 0;
      margin-left: 0;
    }
    .answer-box{
      &.divider{
        margin-left: 0;
        margin-right: 0;
      }
      .time{
        border-top: 1px solid @WhiteSmoke;
        padding-top: @sp5;
      }
      .vote{
        float: right;
      }
      .avatar-container-wrapper{
        float: left;
        img{
          float: left;
          margin-bottom: @sp10;
          margin-right: @sp10;
        }
      }
      .vote-wrapper{
        float: right;
      }
    }
  }
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {
  .question-answers{
    padding-top: 0;
    padding-bottom: 0;
    .avatar-container{
      padding-bottom: @sp20;
    }
    .post-answer-container{
      .com-btn--primary{
        font-size: 10px;
        width: 160px;
      }
      .cancel-post-answer{
        margin-right: @sp20;
        font-size: 10px;
        float: none;
      }
    }
  }
}

@media only screen and (max-width: @screenPhoneSize) {
  .question-answers{
    .avatar-list{
      height: 130px;
      .avatar-box{
        .text, .answers-count{
          float:none;
        }
      }
      .com-btn--primary_mod, .avatar-box{
        float: none;
        text-align: center;
        top: 0;
      }
    }
  }
}