button {
  outline: none;
}

// Button
.com-btn{
  padding: @sp10 @sp20;
  font-size: 12px;
  font-weight: @semiBold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: background-color 400ms ease;
}



//Button Primary
.com-btn--primary{
  background-color: @CoralOrange;
  border: 1px solid @CoralOrange;
  color: white;
  &:hover{
    background-color:@White;
    border: 1px solid @CoralOrange;
    color: @CoralOrange;
  }
  &:focus, &:active, &:active:focus{
    opacity: 0.7;
  }
}

.com-btn--primary[disabled]{
  border-color: #d3d3d3;
  background-color: #d3d3d3;
  &:hover, &:focus, &:active, &:active:focus{
    border-color: #d3d3d3;
    background-color: #d3d3d3;
    color: white;
  }
}

// Button Secondary
.com-btn--secondary {
  background-color: white;
  color: @DarkGrey;
  border: 1px solid @DarkGrey;
  &:hover, &:focus, &:active, &:active:focus{
    background-color: @DarkGrey;
    border: 1px solid @DarkGrey;
    color: white;
  }
}

//Button Accept
.com-btn--accept{
  background-color: white;
  color: @LimeGreen;
  border: 1px solid @LimeGreen;
  margin-top: @sp10;
  padding:@sp5 @sp5;
  font-size: 11px;
  font-weight: @medium;
  &:hover, &:focus, &:active, &:active:focus{
    background-color: @LimeGreen;
    border: 1px solid @LimeGreen;
    color: white;
  }
}

.com-btn--joined-left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.com-btn--small{
  font-size: 11px;
  padding-top: 9px;
  padding-bottom: 8px;
  letter-spacing: 1px;
  white-space: nowrap;
  line-height: 1.43;
}

.com-btn--large{
  padding-top: 13px;
  padding-bottom: 11px;
}

.com-btn--x-large{
  padding-top: 17px;
  padding-bottom: 16px;
}

.com-btn--x-wide{
  padding-left: 50px;
  padding-right: 50px;
}

.icon-spinning {
  font-size: 12px;
  display: inline-block;
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  letter-spacing: normal;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// This prevent ng-show and ng-hide being displayed at the same time
.ng-hide.ng-hide-animate {
  display: none !important;
}