.az-navbar{
  background-color: @BlackGrey;
  min-height: @globalHeaderHeight;
  max-height: @globalHeaderHeight;
  z-index: 1001;
}

.az-navbar-fixed-top{
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.az-navbar-header{
  float:left;

  button{
    border-color: @WhiteSmoke;

    .icon-bar{
      background-color: @WhiteSmoke;
    }
    &:hover{
      background-color:transparent;
    }
    &:focus{
      background-color:transparent;
    }

  }
}

.az-navbar-brand{
  float:left;
  font-size: 150%;
  line-height: @globalHeaderHeight;
  display: inline-block;
  
  a{
    color: @White;

    &:hover{
      text-decoration: none;
    }  
  }
}

.az-nav{
}

.az-nav-item{
  position: relative;
  float: left;
  height: 100%;

  &.divider-vertical{
    width: 1px;
    height: 80%;
    margin: 5px 0;
    border-left: 1px solid rgba(255,255,255,0.2);
  }

  > a{
    display: block;
    height: 100%;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      text-decoration: none;
      color: @CoralOrange;
      background: @BlackGrey;
    }
  }
}

.az-nav-sub{
  width: auto;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1050;
  border: 1px solid rgba(204,204,204,0.2);
  font-size: @fsMediumSmall;
  padding: 0 0 !important;
  margin: 0 !important;
  left: auto !important;

  li{
    float: none;
    background: @White;
    height: auto;
  }

}


.az-nav-sub-item{
  text-align: left;

  a{
    line-height: 1 !important;
    text-transform: uppercase;
    display: block;
    color: @BlackGrey;
    font-weight: @normal !important;
    padding: @sp10 45px @sp10 @sp10 !important;
    white-space: nowrap;

    &:hover {
      color: @BlackGrey;
      background: @WhiteSmoke;
    }

    .avatar{
      margin: 0 10px 0 0;
    }

    i{
      float: left;
      margin: 0 10px 0 0;
      font-size: @fsMedium;
      color: @LightGrey;
    }

    > span{
      display: inline-block;
    }

    > img.avatar + span{
      padding-top: 7px;
    }

    > i + span{
      padding-top: 6px;
    }

  }

}

.az-nav-sub-heading{
  text-align: center;
  border-bottom: 1px solid @WhiteSmoke;
  font-weight: @semiBold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top:15px;
  padding-bottom:15px;
  background: #ff0;
}

.az-nav-primary{
  height: @globalHeaderHeight;

  a{
    &.az-nav-active-item{
      color: @CoralOrange;
    }
  }

}

.az-nav-item-primary{
  > a{
    color: @White;
    letter-spacing: 1px;
    line-height: @globalHeaderHeight;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400;
    transition: color 500ms ease;
    padding: 0 @sp20;

    span.alert-number {
      min-height:14px;
      min-width:14px;
      display: inline-block;
      background: @IndianRed;
      text-align: center;
      color: @White;
      position: absolute;
      top: 5px;
      left: 14px;
      font-size: @fsSmall;
      border-radius: 50%;
      padding:2px 4px 5px 5px;
      line-height: 1;
      font-weight:600;
    }

    i.icon-chevron-up{
      display: none;
    }

    i.icon-alien-head2{
      font-size: 300%;
      position:relative;
      top: 5px;
    }

    i.icon-chevron-down{
      float: right;
      color: @White;
      position:relative;
      top:22px;
      left:5px;
      font-size: 50%;
    }

    img.avatar{
      margin: 12px 10px 0 0;
    }

    &:hover{
      color: @CoralOrange;

      i.icon-chevron-down {
        color: @CoralOrange;
      }

      i.icon-chevron-up{
        display: inline;
        position: absolute;
        bottom: 0;
        left: 45%;
      }
    }
  }
}

.az-navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  background-color: transparent;
  border:none;
  color: @White;
  display:none;

  .icon-bar{
    background-color: #fff;
  }
}

.dropdown-mobile{
  display: none;
}

.az-nav-primary-mobile{
  width: 100%;
  position: absolute;
  top: @globalHeaderHeight - 1 !important;
  left: 0;
  z-index: 2000;
  font-size: @fsMediumSmall;
  display: none;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  border-radius:0 !important;

}

.az-nav-primary-mobile-item{
  float: none;
  background: @DimGrey;
  height: auto;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing:1px;

  &:hover {
    color: @BlackGrey;
    background: @WhiteSmoke;
  }

  a{
    display: block;
    padding: @sp15 45px @sp15 @sp10 !important;
    text-decoration: none;
    color: @White !important;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    &:hover{
      background: @MidGrey !important;
    }

    .avatar{
      margin: 0 10px 0 0;
    }

    i{
      float: left;
      margin: 0 10px 0 0;
      font-size: @fsMedium;
      color: @LightGrey;
    }

    > span{
      display: inline-block;
    }

    > img.avatar + span{
      padding-top: 7px;
    }

    > i + span{
      padding-top: 6px;
    }
  }
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {

  .az-navbar-toggle {
    display:inline-block;
  }

  .az-nav-primary{
    display: none;
  }

  .dropdown-mobile{
    display: block;
  }

  .az-nav-primary-mobile{
  }

}