.az-nav-sub-item-notification {
  border-bottom: 1px solid @WhiteSmoke;
  padding: @sp10 45px @sp10 @sp10;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: @BlackGrey;
    background: @WhiteSmoke;
  }

  &:last-child{
    border-bottom: none;
  }

  .avatar{
    margin: 0 10px 0 0;
  }
}

.notification-list-info{
  display: inline-block;
}

.notification-list-item{
  display: block;
}

.notification-type{
  font-weight: @bold;
  margin-bottom: 6px;
}

.notification-detail{
  margin-bottom: 6px;
  font-weight: @normal;
}
.notification-time{
  color: @DimGrey;
  font-style: italic;
}
