.error-text{
  color: @IndianRed;
  margin-top: @sp5;
  margin-left: @sp5;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  font-weight: @semiBold;
}

.input-error{
  border: 1px solid  @IndianRed !important;
  border-radius: 3px;
}

.warning-alert{
  margin-top: @sp10;
  padding: @sp10;
  border-radius: @borderRadiusBase;
  color: white;
  background-color: @DarkGrey;
  span{
    font-size: 12px;
  }
}

.error-alert{
  margin-top: @sp10;
  padding: @sp10;
  border-radius: @borderRadiusBase;
  color: white;
  background-color: @IndianRed;
  span{
    font-size: 12px;
  }
}

.error-alert, .warning-alert{
  .bolder-text{
    font-weight: @semiBold;
  }
}

.error-container{
  height: 70px;
}


