// Spacing
@sp5: 5px;
@sp10: 10px;
@sp15: 15px;
@sp20: 20px;
@sp25: 25px;
@sp30: 30px;
@sp40: 40px;

@spMainPaddingTop: 40px;

@globalHeaderHeight: 50px;
@subsystemBarHeight: 80px;


//PRIMARY COLOR PALETTE
@CoralOrange: #F28C64;
@IndianRed: #D95857;
@LimeGreen: #76C058;

//SECONDARY COLOR PALETTE
@BlackGrey: #313131;
@DarkGrey: #494949;
@DimGrey: #979797;
@SmokeGrey: #fafafa;
@DodgerBlue: #0192d0;
@MidGrey: #8f8f8f;
@LightGrey: #d3d3d3;
@WhiteSmoke: #f7f7f7;
@White: #ffffff;

// Media Query Size for screens
@screenPhoneSize: 480px;
@screenPhoneLandScapeSize: 768px;
@screenTabletSize: 992px;
@screenDesktopSize: 1200px;

// Font Weights
@thin: 100;
@extraLight: 200;
@light: 300;
@normal: 400;
@medium: 500;
@semiBold: 600;
@bold: 700;
@extraBold: 800;
@extraBoldBlack: 900;

// Border
@borderRadiusBase: 3px;

// Font Sizes
@fsBase: 14px;
@fsHeading1: 45px;
@fsHeadingSubSystem: 40px;
@fsLarge: 28px;
@fsMedium: 21px;
@fsSmall: 12px;
@fsMediumSmall: 11px;
@fsExtraSmall: 10px;
@fsFormControlLarge: 18px;

// Letter Spacing
@lsHeading1: 0.1em;
@lsSubHeading1: 0.18em;

