
.local-tabs-container{
  border-bottom: 1px solid @LightGrey;

  h2{
    float: left;
    font-weight: @extraBold;
  }
}

.local-tabs-title{
  font-size: @fsFormControlLarge;
  font-weight: @medium;
  letter-spacing: @lsSubHeading1;
  padding-top: @sp20;
  color: @BlackGrey;
}

.local-tabs{
  float: right;
}

.local-tabs__tab {
  float: left;

  a{
    height: 100%;
    display: block;
    padding: 20px 20px 17px 20px;
    color: @BlackGrey;

    &:hover{
      color: @CoralOrange;
      border-bottom: 1px solid @CoralOrange;
      margin-bottom: -1px;
      text-decoration: none;
    }
  }

}

.local-tabs__tab--selected a {
  color: @CoralOrange;
  border-bottom: 1px solid @CoralOrange;
  margin-bottom: -1px;
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {


  .local-tabs-title{
    width: 100%;
    text-align: center;
    float: none;
    padding-top: 0;
    margin-bottom: 5px;

  }

  .local-tabs{
    width:100%;
    float: none;
    display: table;
  }

  .local-tabs__tab {
    float: none;
    display: table-cell;
    width: 33%;

    a{
      text-align: center;
      font-size: @fsSmall;
      padding: 20px 10px 17px 10px;
    }

  }
}