
.question-item{
  border-bottom: 1px solid @LightGrey;

  &:hover, &:active{
    cursor: pointer;
    background: @WhiteSmoke;
  }
}

.question-item__answers{
  text-align: center;
  vertical-align: top;
  padding:35px 0 30px 0;

  p{
    color: @DimGrey;
    margin-bottom: 10px;
  }
}

.question-item__answers-total{
  font-size: @fsLarge;
  font-weight: @semiBold;
  margin-bottom: 10px;
}

.question-item__answers-accepted{
  color: @LimeGreen;
  font-size: @fsLarge;
}

.question-item__user{
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  padding: 35px 5px 30px 5px;
  overflow: hidden;

  &:hover{
    cursor: pointer;

    img{
    }

    a{
      text-decoration: underline;
    }
  }

  &:active{
    background: @White;
  }

  img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  label{
    display: block;
    font-size: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.question-item__summary{
  vertical-align: top;
  padding:30px 0 30px 20px;

  h1 {
    margin-bottom: 10px;
    font-size: @fsMedium;
    line-height: 140%;
    font-weight: @semiBold;
    color: @DarkGrey;
  }

  p{
    line-height: 180%;
  }
}

.question-item__summary-time{
  font-size: @fsExtraSmall;
  font-style: italic;
  margin-bottom: 10px;
  color: @DimGrey;
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {

  .question-item__answers{
    float: right;
    padding-bottom: 0;
  }

  .question-item__user{
    font-size: @fsSmall;
    text-align: left;
    padding-left: 10px;
    float: left;

    img{
      float: left;
      margin: 0 10px 0 0;
    }

    label{
      margin: 17px 0 0 0;
    }
  }

  .question-item__summary{
    font-size: @fsSmall;
    line-height: 95%;
    padding:0 10px 30px 10px;
  }
}