// Textarea Styling

textarea{
  background-color: transparent;
  padding: @sp20 !important;
  &:focus{
    border: 1px solid @LimeGreen !important;
    outline: none;
  }
}

textarea::-webkit-input-placeholder {
  color: @DimGrey !important;
  font-size: 18px;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: @DimGrey !important;
  font-size: 18px;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: @DimGrey !important;
  font-size: 18px;
}

textarea:-ms-input-placeholder {
  color: @DimGrey !important;
  font-size: 18px;
}

@media only screen and (max-width: @screenPhoneSize) and (max-width: @screenTabletSize){
  textarea::-webkit-input-placeholder {
    color: @DimGrey !important;
    font-size: 16px;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: @DimGrey !important;
    font-size: 16px;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: @DimGrey !important;
    font-size: 16px;
  }

  textarea:-ms-input-placeholder {
    color: @DimGrey !important;
    font-size: 16px;
  }
}


.jqueryHashtags .highlighter{
  padding-top: @sp20 !important;
  padding-left: @sp20 !important;
}

// Textarea Styling End