.heading-1{
    font-size: @fsHeading1;
    font-weight: @light;
    letter-spacing: @lsHeading1;
    margin-bottom: @sp30;
    //text-transform: uppercase;
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {

}