.az-form-control{
  padding:18px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid @LightGrey;
  background-color: @WhiteSmoke;
  box-shadow: none;
  overflow: visible;

  &:hover{
    border-color: @LimeGreen;
    box-shadow: none;
  }

  &:focus{
    border-color: @LimeGreen;
    outline: none;
    box-shadow: none;
  }
}

.az-form-control-x-lg{
  padding:@sp25 @sp10;
  font-size: @fsFormControlLarge;
}

.az-form-control-sm{
  padding: 12px 8px;
  font-size: @fsSmall;
}
