@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/community-fonts/icomoon.eot?bmjhmp');
  src:  url('../fonts/community-fonts/icomoon.eot?bmjhmp#iefix') format('embedded-opentype'),
  url('../fonts/community-fonts/icomoon.ttf?bmjhmp') format('truetype'),
  url('../fonts/community-fonts/icomoon.woff?bmjhmp') format('woff'),
  url('../fonts/community-fonts/icomoon.svg?bmjhmp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PRESENTATION:before {
  content: "\e900";
}
.icon-add-circle-1:before {
  content: "\e901";
}
.icon-airplane2:before {
  content: "\e902";
}
.icon-alien-head2:before {
  content: "\e903";
}
.icon-alien:before {
  content: "\e904";
}
.icon-android:before {
  content: "\e905";
}
.icon-at-sign:before {
  content: "\e906";
}
.icon-atomic-bomb:before {
  content: "\e907";
}
.icon-baby-hanging-toy:before {
  content: "\e908";
}
.icon-baby-trolley:before {
  content: "\e909";
}
.icon-baby:before {
  content: "\e90a";
}
.icon-backpack:before {
  content: "\e90b";
}
.icon-bank-note2:before {
  content: "\e90c";
}
.icon-banking-debit-machine2:before {
  content: "\e90d";
}
.icon-banking-donation-2:before {
  content: "\e90e";
}
.icon-banking-spendings-1:before {
  content: "\e90f";
}
.icon-banking-spendings-2:before {
  content: "\e910";
}
.icon-banking-spendings-3:before {
  content: "\e911";
}
.icon-battery-charging-1:before {
  content: "\e912";
}
.icon-battery-high:before {
  content: "\e913";
}
.icon-battery-low:before {
  content: "\e914";
}
.icon-beaker-science:before {
  content: "\e915";
}
.icon-beauty-hand-soap:before {
  content: "\e916";
}
.icon-beauty-lipstick:before {
  content: "\e917";
}
.icon-bin:before {
  content: "\e918";
}
.icon-binoculars2:before {
  content: "\e919";
}
.icon-bitcoin-cloud2:before {
  content: "\e91a";
}
.icon-bitcoin-laptop:before {
  content: "\e91b";
}
.icon-bitcoin-network:before {
  content: "\e91c";
}
.icon-bitcoin-windows:before {
  content: "\e91d";
}
.icon-box-2:before {
  content: "\e91e";
}
.icon-box-add:before {
  content: "\e91f";
}
.icon-box-check:before {
  content: "\e920";
}
.icon-box-handle-1:before {
  content: "\e921";
}
.icon-box-subtract:before {
  content: "\e922";
}
.icon-building-6:before {
  content: "\e923";
}
.icon-building-10:before {
  content: "\e924";
}
.icon-building-barn:before {
  content: "\e925";
}
.icon-bus-22:before {
  content: "\e926";
}
.icon-business-briefcase-cash2:before {
  content: "\e927";
}
.icon-business-whiteboard:before {
  content: "\e928";
}
.icon-calendar-1:before {
  content: "\e929";
}
.icon-camera-1:before {
  content: "\e92a";
}
.icon-camera-live-view-off:before {
  content: "\e92b";
}
.icon-car-2:before {
  content: "\e92c";
}
.icon-castle-1:before {
  content: "\e92d";
}
.icon-cc-camera-1:before {
  content: "\e92e";
}
.icon-chair-1:before {
  content: "\e92f";
}
.icon-chat-bubble-square-1:before {
  content: "\e930";
}
.icon-chat-bubble-square-add:before {
  content: "\e931";
}
.icon-chat-bubble-square-check:before {
  content: "\e932";
}
.icon-chat-bubble-square-close2:before {
  content: "\e933";
}
.icon-chat-bubble-square-smiley2:before {
  content: "\e934";
}
.icon-chat-bubble-square-subtract:before {
  content: "\e935";
}
.icon-check-box:before {
  content: "\e936";
}
.icon-chef-1:before {
  content: "\e937";
}
.icon-chef-hat:before {
  content: "\e938";
}
.icon-close:before {
  content: "\e939";
}
.icon-cloud-harddisk-1:before {
  content: "\e93a";
}
.icon-cloud:before {
  content: "\e93b";
}
.icon-coffee-mug:before {
  content: "\e93c";
}
.icon-cog-box:before {
  content: "\e93d";
}
.icon-coin-purse-1:before {
  content: "\e93e";
}
.icon-coin-stack-1:before {
  content: "\e93f";
}
.icon-color-palette2:before {
  content: "\e940";
}
.icon-computer-personal-12:before {
  content: "\e941";
}
.icon-computer-screen-1:before {
  content: "\e942";
}
.icon-content-book-2:before {
  content: "\e943";
}
.icon-content-book-6:before {
  content: "\e944";
}
.icon-content-bookmark-4:before {
  content: "\e945";
}
.icon-couch:before {
  content: "\e946";
}
.icon-crop-image:before {
  content: "\e947";
}
.icon-cursor-arrow-1:before {
  content: "\e948";
}
.icon-cursor-arrow-2:before {
  content: "\e949";
}
.icon-cursor-touch-1:before {
  content: "\e94a";
}
.icon-data-download-5:before {
  content: "\e94b";
}
.icon-data-upload-5:before {
  content: "\e94c";
}
.icon-devices2:before {
  content: "\e94d";
}
.icon-dna2:before {
  content: "\e94e";
}
.icon-download-computer:before {
  content: "\e94f";
}
.icon-eco-car:before {
  content: "\e950";
}
.icon-eco-factory:before {
  content: "\e951";
}
.icon-eco-field:before {
  content: "\e952";
}
.icon-email-heart:before {
  content: "\e953";
}
.icon-email-inbox:before {
  content: "\e954";
}
.icon-email-outbox:before {
  content: "\e955";
}
.icon-email-timeout:before {
  content: "\e956";
}
.icon-envelope-1:before {
  content: "\e957";
}
.icon-espresso-machine:before {
  content: "\e958";
}
.icon-exposure-level:before {
  content: "\e959";
}
.icon-female-12:before {
  content: "\e95a";
}
.icon-fence-caution2:before {
  content: "\e95b";
}
.icon-file-bookmark:before {
  content: "\e95c";
}
.icon-file-copy:before {
  content: "\e95d";
}
.icon-file-hand:before {
  content: "\e95e";
}
.icon-file-landscape-new-1:before {
  content: "\e95f";
}
.icon-file-new-1:before {
  content: "\e960";
}
.icon-file-new-2:before {
  content: "\e961";
}
.icon-file-notes-document:before {
  content: "\e962";
}
.icon-file-notes-new:before {
  content: "\e963";
}
.icon-file-office-graph:before {
  content: "\e964";
}
.icon-file-office-text:before {
  content: "\e965";
}
.icon-file-swap:before {
  content: "\e966";
}
.icon-file-tasks-add2:before {
  content: "\e967";
}
.icon-file-tasks-checklist2:before {
  content: "\e968";
}
.icon-file-tasks-close:before {
  content: "\e969";
}
.icon-file-tasks-subtract:before {
  content: "\e96a";
}
.icon-file-zipped-new:before {
  content: "\e96b";
}
.icon-file-zipped-vice:before {
  content: "\e96c";
}
.icon-files-1:before {
  content: "\e96d";
}
.icon-files-2:before {
  content: "\e96e";
}
.icon-files-3:before {
  content: "\e96f";
}
.icon-fire-extinguisher:before {
  content: "\e970";
}
.icon-fire-lighter:before {
  content: "\e971";
}
.icon-flash-off:before {
  content: "\e972";
}
.icon-flash:before {
  content: "\e973";
}
.icon-folder-add2:before {
  content: "\e974";
}
.icon-folder-check2:before {
  content: "\e975";
}
.icon-folder-close:before {
  content: "\e976";
}
.icon-folder-subtract:before {
  content: "\e977";
}
.icon-food-chicken-drum-stick:before {
  content: "\e978";
}
.icon-food-double-burger:before {
  content: "\e979";
}
.icon-food-icecream-2:before {
  content: "\e97a";
}
.icon-food-noodle-2:before {
  content: "\e97b";
}
.icon-food-plate-knife-fork:before {
  content: "\e97c";
}
.icon-food-steak:before {
  content: "\e97d";
}
.icon-glass-cocktail-2:before {
  content: "\e97e";
}
.icon-gold-nuggets:before {
  content: "\e97f";
}
.icon-graduation-hat:before {
  content: "\e980";
}
.icon-gramophone2:before {
  content: "\e981";
}
.icon-greek-column2:before {
  content: "\e982";
}
.icon-hammer-anvil:before {
  content: "\e983";
}
.icon-hand-gun:before {
  content: "\e984";
}
.icon-hand-remote:before {
  content: "\e985";
}
.icon-hanging-rope:before {
  content: "\e986";
}
.icon-hat-1:before {
  content: "\e987";
}
.icon-hat-magician:before {
  content: "\e988";
}
.icon-health-ambulance:before {
  content: "\e989";
}
.icon-health-graph-1:before {
  content: "\e98a";
}
.icon-health-heart-pulse:before {
  content: "\e98b";
}
.icon-health-hospital-sign-1:before {
  content: "\e98c";
}
.icon-health-medicine-bottle:before {
  content: "\e98d";
}
.icon-health-prescription-22:before {
  content: "\e98e";
}
.icon-helicopter2:before {
  content: "\e98f";
}
.icon-hot-air-balloon:before {
  content: "\e990";
}
.icon-hotel-bath-shower:before {
  content: "\e991";
}
.icon-hotel-bed-1:before {
  content: "\e992";
}
.icon-hotel-shower:before {
  content: "\e993";
}
.icon-hotel-toilet-seat:before {
  content: "\e994";
}
.icon-hourglass:before {
  content: "\e995";
}
.icon-id-card-1:before {
  content: "\e996";
}
.icon-inbox:before {
  content: "\e997";
}
.icon-key-hole-1:before {
  content: "\e998";
}
.icon-keyboard:before {
  content: "\e999";
}
.icon-king:before {
  content: "\e99a";
}
.icon-kitchen-blender2:before {
  content: "\e99b";
}
.icon-kitchen-frying-machine2:before {
  content: "\e99c";
}
.icon-kitchen-pan-fry:before {
  content: "\e99d";
}
.icon-lamp-1:before {
  content: "\e99e";
}
.icon-lamp-studio-1:before {
  content: "\e99f";
}
.icon-laptop-1:before {
  content: "\e9a0";
}
.icon-leisure-dj-booth:before {
  content: "\e9a1";
}
.icon-leisure-magic:before {
  content: "\e9a2";
}
.icon-leisure-marry-go-round:before {
  content: "\e9a3";
}
.icon-leisure-rest:before {
  content: "\e9a4";
}
.icon-location-gps-on-2:before {
  content: "\e9a5";
}
.icon-location-map-1:before {
  content: "\e9a6";
}
.icon-location-pin-4:before {
  content: "\e9a7";
}
.icon-location-pin-add-22:before {
  content: "\e9a8";
}
.icon-location-pin-bank-22:before {
  content: "\e9a9";
}
.icon-location-pin-check-2:before {
  content: "\e9aa";
}
.icon-location-pin-close-2:before {
  content: "\e9ab";
}
.icon-location-pin-skull-2:before {
  content: "\e9ac";
}
.icon-location-pin-subtract-2:before {
  content: "\e9ad";
}
.icon-location-user:before {
  content: "\e9ae";
}
.icon-lock-1:before {
  content: "\e9af";
}
.icon-lock-unlock-1:before {
  content: "\e9b0";
}
.icon-login-check:before {
  content: "\e9b1";
}
.icon-login-lock:before {
  content: "\e9b2";
}
.icon-login-wrong:before {
  content: "\e9b3";
}
.icon-mail-refresh-1:before {
  content: "\e9b4";
}
.icon-match-stick2:before {
  content: "\e9b5";
}
.icon-mobile-phone-audio2:before {
  content: "\e9b6";
}
.icon-mobile-phone-check-1:before {
  content: "\e9b7";
}
.icon-mobile-phone-close-1:before {
  content: "\e9b8";
}
.icon-mobile-phone-off:before {
  content: "\e9b9";
}
.icon-monster-truck-1:before {
  content: "\e9ba";
}
.icon-motorcycle-1:before {
  content: "\e9bb";
}
.icon-motorcycle-2:before {
  content: "\e9bc";
}
.icon-music-note-1:before {
  content: "\e9bd";
}
.icon-nature-flower-1:before {
  content: "\e9be";
}
.icon-nature-plant-1:before {
  content: "\e9bf";
}
.icon-navigation-before-1:before {
  content: "\e9c0";
}
.icon-navigation-next-1:before {
  content: "\e9c1";
}
.icon-network-business2:before {
  content: "\e9c2";
}
.icon-network-laptop2:before {
  content: "\e9c3";
}
.icon-nuclear-power-plant:before {
  content: "\e9c4";
}
.icon-operator-male:before {
  content: "\e9c5";
}
.icon-organization-hierarchy-3:before {
  content: "\e9c6";
}
.icon-origami-paper-bird:before {
  content: "\e9c7";
}
.icon-outbox:before {
  content: "\e9c8";
}
.icon-paint-brush-1:before {
  content: "\e9c9";
}
.icon-paper-pin:before {
  content: "\e9ca";
}
.icon-paperplane:before {
  content: "\e9cb";
}
.icon-pen-tablet:before {
  content: "\e9cc";
}
.icon-pencil-2:before {
  content: "\e9cd";
}
.icon-pencil-ruler:before {
  content: "\e9ce";
}
.icon-phone-incoming2:before {
  content: "\e9cf";
}
.icon-phone-outgoing2:before {
  content: "\e9d0";
}
.icon-photo-landscape:before {
  content: "\e9d1";
}
.icon-photo-portrait:before {
  content: "\e9d2";
}
.icon-picture-layer-1:before {
  content: "\e9d3";
}
.icon-pin-2:before {
  content: "\e9d4";
}
.icon-places-christ-the-redeemer:before {
  content: "\e9d5";
}
.icon-places-colosseum:before {
  content: "\e9d6";
}
.icon-places-eiffel-tower:before {
  content: "\e9d7";
}
.icon-places-home-3:before {
  content: "\e9d8";
}
.icon-places-home-4:before {
  content: "\e9d9";
}
.icon-places-taj-mahal:before {
  content: "\e9da";
}
.icon-places-warehouse-1:before {
  content: "\e9db";
}
.icon-places-water-well2:before {
  content: "\e9dc";
}
.icon-pocket-knife2:before {
  content: "\e9dd";
}
.icon-police-officer-1:before {
  content: "\e9de";
}
.icon-polo-shirt:before {
  content: "\e9df";
}
.icon-projector:before {
  content: "\e9e0";
}
.icon-quill:before {
  content: "\e9e1";
}
.icon-receipt-1:before {
  content: "\e9e2";
}
.icon-rechargable-battery:before {
  content: "\e9e3";
}
.icon-register-machine:before {
  content: "\e9e4";
}
.icon-remove-circle-1:before {
  content: "\e9e5";
}
.icon-rewards-banner-check:before {
  content: "\e9e6";
}
.icon-rewards-gift:before {
  content: "\e9e7";
}
.icon-rewards-medal-1:before {
  content: "\e9e8";
}
.icon-rewards-pedestal2:before {
  content: "\e9e9";
}
.icon-rewards-trophy-52:before {
  content: "\e9ea";
}
.icon-ring-planet:before {
  content: "\e9eb";
}
.icon-romance-bow:before {
  content: "\e9ec";
}
.icon-romance-love-target:before {
  content: "\e9ed";
}
.icon-romance-relationship:before {
  content: "\e9ee";
}
.icon-safe:before {
  content: "\e9ef";
}
.icon-save-water:before {
  content: "\e9f0";
}
.icon-scissors:before {
  content: "\e9f1";
}
.icon-send-to-back:before {
  content: "\e9f2";
}
.icon-send-to-front:before {
  content: "\e9f3";
}
.icon-server-2:before {
  content: "\e9f4";
}
.icon-server-add-1:before {
  content: "\e9f5";
}
.icon-server-bug2:before {
  content: "\e9f6";
}
.icon-server-check-12:before {
  content: "\e9f7";
}
.icon-server-close-1:before {
  content: "\e9f8";
}
.icon-server-network-1:before {
  content: "\e9f9";
}
.icon-server-subtract-1:before {
  content: "\e9fa";
}
.icon-settings-1:before {
  content: "\e9fb";
}
.icon-share-megaphone-2:before {
  content: "\e9fc";
}
.icon-share-radar:before {
  content: "\e9fd";
}
.icon-share-signal-user:before {
  content: "\e9fe";
}
.icon-shopping-basket-1:before {
  content: "\e9ff";
}
.icon-shopping-basket-2:before {
  content: "\ea00";
}
.icon-shopping-basket-add:before {
  content: "\ea01";
}
.icon-shopping-basket-check:before {
  content: "\ea02";
}
.icon-shopping-basket-close2:before {
  content: "\ea03";
}
.icon-shopping-basket-subtract2:before {
  content: "\ea04";
}
.icon-sign-elevator:before {
  content: "\ea05";
}
.icon-sign-toilet:before {
  content: "\ea06";
}
.icon-smart-watch-circle-navigation:before {
  content: "\ea07";
}
.icon-smiley-dolar:before {
  content: "\ea08";
}
.icon-smiley-poker-face:before {
  content: "\ea09";
}
.icon-smiley-shy-1:before {
  content: "\ea0a";
}
.icon-smiley-smile-2:before {
  content: "\ea0b";
}
.icon-smiley-wink:before {
  content: "\ea0c";
}
.icon-smiley-worry:before {
  content: "\ea0d";
}
.icon-spa-bamboo:before {
  content: "\ea0e";
}
.icon-spa-lotion:before {
  content: "\ea0f";
}
.icon-spa-lotus-flower2:before {
  content: "\ea10";
}
.icon-speaker-volume-decrease2:before {
  content: "\ea11";
}
.icon-speaker-volume-high:before {
  content: "\ea12";
}
.icon-speaker-volume-increase:before {
  content: "\ea13";
}
.icon-speaker-volume-medium:before {
  content: "\ea14";
}
.icon-speaker-volume-off:before {
  content: "\ea15";
}
.icon-sport-basketball:before {
  content: "\ea16";
}
.icon-sport-bowling:before {
  content: "\ea17";
}
.icon-sport-dumbbell-1:before {
  content: "\ea18";
}
.icon-sport-football-field:before {
  content: "\ea19";
}
.icon-sport-takraw:before {
  content: "\ea1a";
}
.icon-spray-bottle:before {
  content: "\ea1b";
}
.icon-star-constellation:before {
  content: "\ea1c";
}
.icon-subtract-circle-12:before {
  content: "\ea1d";
}
.icon-sunny2:before {
  content: "\ea1e";
}
.icon-switch-left:before {
  content: "\ea1f";
}
.icon-switch-right:before {
  content: "\ea20";
}
.icon-synchronize-1:before {
  content: "\ea21";
}
.icon-synchronize-2:before {
  content: "\ea22";
}
.icon-tank:before {
  content: "\ea23";
}
.icon-telephone-1:before {
  content: "\ea24";
}
.icon-temple-2:before {
  content: "\ea25";
}
.icon-toilet-roll:before {
  content: "\ea26";
}
.icon-tools-measuring-tape:before {
  content: "\ea27";
}
.icon-tram:before {
  content: "\ea28";
}
.icon-travel-bag-1:before {
  content: "\ea29";
}
.icon-travel-beach2:before {
  content: "\ea2a";
}
.icon-travel-camping2:before {
  content: "\ea2b";
}
.icon-travel-flippers:before {
  content: "\ea2c";
}
.icon-travel-globe:before {
  content: "\ea2d";
}
.icon-treasure-chest-open:before {
  content: "\ea2e";
}
.icon-trolley-box-service:before {
  content: "\ea2f";
}
.icon-umbrella-open:before {
  content: "\ea30";
}
.icon-undershirt:before {
  content: "\ea31";
}
.icon-underwear:before {
  content: "\ea32";
}
.icon-upload-computer:before {
  content: "\ea33";
}
.icon-user-add:before {
  content: "\ea34";
}
.icon-user-chat-1:before {
  content: "\ea35";
}
.icon-user-check:before {
  content: "\ea36";
}
.icon-user-female2:before {
  content: "\ea37";
}
.icon-user-headphone2:before {
  content: "\ea38";
}
.icon-user-heart:before {
  content: "\ea39";
}
.icon-user-magnify:before {
  content: "\ea3a";
}
.icon-user-male:before {
  content: "\ea3b";
}
.icon-user-subtract:before {
  content: "\ea3c";
}
.icon-vector-circle:before {
  content: "\ea3d";
}
.icon-vector-line:before {
  content: "\ea3e";
}
.icon-vector-square-1:before {
  content: "\ea3f";
}
.icon-vector-triangle:before {
  content: "\ea40";
}
.icon-video-call-1:before {
  content: "\ea41";
}
.icon-video-call-mobile-phone:before {
  content: "\ea42";
}
.icon-video-camera-3:before {
  content: "\ea43";
}
.icon-video-clip-32:before {
  content: "\ea44";
}
.icon-video-clip-42:before {
  content: "\ea45";
}
.icon-video-control-eject:before {
  content: "\ea46";
}
.icon-video-control-fast-forward:before {
  content: "\ea47";
}
.icon-video-control-next:before {
  content: "\ea48";
}
.icon-video-control-pause:before {
  content: "\ea49";
}
.icon-video-control-play:before {
  content: "\ea4a";
}
.icon-video-control-previous:before {
  content: "\ea4b";
}
.icon-video-control-record:before {
  content: "\ea4c";
}
.icon-video-control-rewind:before {
  content: "\ea4d";
}
.icon-video-control-stop:before {
  content: "\ea4e";
}
.icon-video-games-gameboy:before {
  content: "\ea4f";
}
.icon-video-games-pacman-ghost:before {
  content: "\ea50";
}
.icon-video-games-pacman2:before {
  content: "\ea51";
}
.icon-volcanoe2:before {
  content: "\ea52";
}
.icon-vote-heart-circle-1:before {
  content: "\ea53";
}
.icon-vote-plus-one:before {
  content: "\ea54";
}
.icon-vote-thumbs-down:before {
  content: "\ea55";
}
.icon-vote-thumbs-up:before {
  content: "\ea56";
}
.icon-wallet:before {
  content: "\ea57";
}
.icon-warehouse-box:before {
  content: "\ea58";
}
.icon-water-droplet:before {
  content: "\ea59";
}
.icon-water-tap:before {
  content: "\ea5a";
}
.icon-water-tower:before {
  content: "\ea5b";
}
.icon-wind-flag:before {
  content: "\ea5c";
}
.icon-window-programming:before {
  content: "\ea5d";
}
.icon-window2:before {
  content: "\ea5e";
}
.icon-add-circle-12:before {
  content: "\ea5f";
}
.icon-airplane:before {
  content: "\ea60";
}
.icon-alien-head:before {
  content: "\ea61";
}
.icon-alien2:before {
  content: "\ea62";
}
.icon-android2:before {
  content: "\ea63";
}
.icon-at-sign2:before {
  content: "\ea64";
}
.icon-atomic-bomb2:before {
  content: "\ea65";
}
.icon-baby-hanging-toy2:before {
  content: "\ea66";
}
.icon-baby-trolley2:before {
  content: "\ea67";
}
.icon-baby2:before {
  content: "\ea68";
}
.icon-backpack2:before {
  content: "\ea69";
}
.icon-bank-note:before {
  content: "\ea6a";
}
.icon-banking-debit-machine:before {
  content: "\ea6b";
}
.icon-banking-donation-22:before {
  content: "\ea6c";
}
.icon-banking-spendings-12:before {
  content: "\ea6d";
}
.icon-banking-spendings-22:before {
  content: "\ea6e";
}
.icon-banking-spendings-32:before {
  content: "\ea6f";
}
.icon-battery-charging-12:before {
  content: "\ea70";
}
.icon-battery-high2:before {
  content: "\ea71";
}
.icon-battery-low2:before {
  content: "\ea72";
}
.icon-beaker-science2:before {
  content: "\ea73";
}
.icon-beauty-hand-soap2:before {
  content: "\ea74";
}
.icon-beauty-lipstick2:before {
  content: "\ea75";
}
.icon-bin2:before {
  content: "\ea76";
}
.icon-binoculars:before {
  content: "\ea77";
}
.icon-bitcoin-cloud:before {
  content: "\ea78";
}
.icon-bitcoin-laptop2:before {
  content: "\ea79";
}
.icon-bitcoin-network2:before {
  content: "\ea7a";
}
.icon-bitcoin-windows2:before {
  content: "\ea7b";
}
.icon-box-22:before {
  content: "\ea7c";
}
.icon-box-add2:before {
  content: "\ea7d";
}
.icon-box-check2:before {
  content: "\ea7e";
}
.icon-box-handle-12:before {
  content: "\ea7f";
}
.icon-box-subtract2:before {
  content: "\ea80";
}
.icon-building-62:before {
  content: "\ea81";
}
.icon-building-102:before {
  content: "\ea82";
}
.icon-building-barn2:before {
  content: "\ea83";
}
.icon-bus-2:before {
  content: "\ea84";
}
.icon-business-briefcase-cash:before {
  content: "\ea85";
}
.icon-business-whiteboard2:before {
  content: "\ea86";
}
.icon-calendar-12:before {
  content: "\ea87";
}
.icon-camera-12:before {
  content: "\ea88";
}
.icon-camera-live-view-off2:before {
  content: "\ea89";
}
.icon-car-22:before {
  content: "\ea8a";
}
.icon-castle-12:before {
  content: "\ea8b";
}
.icon-cc-camera-12:before {
  content: "\ea8c";
}
.icon-chair-12:before {
  content: "\ea8d";
}
.icon-chat-bubble-square-12:before {
  content: "\ea8e";
}
.icon-chat-bubble-square-add2:before {
  content: "\ea8f";
}
.icon-chat-bubble-square-check2:before {
  content: "\ea90";
}
.icon-chat-bubble-square-close:before {
  content: "\ea91";
}
.icon-chat-bubble-square-smiley:before {
  content: "\ea92";
}
.icon-chat-bubble-square-subtract2:before {
  content: "\ea93";
}
.icon-check-box2:before {
  content: "\ea94";
}
.icon-chef-12:before {
  content: "\ea95";
}
.icon-chef-hat2:before {
  content: "\ea96";
}
.icon-close2:before {
  content: "\ea97";
}
.icon-cloud-harddisk-12:before {
  content: "\ea98";
}
.icon-cloud2:before {
  content: "\ea99";
}
.icon-coffee-mug2:before {
  content: "\ea9a";
}
.icon-cog-box2:before {
  content: "\ea9b";
}
.icon-coin-purse-12:before {
  content: "\ea9c";
}
.icon-coin-stack-12:before {
  content: "\ea9d";
}
.icon-color-palette:before {
  content: "\ea9e";
}
.icon-computer-personal-1:before {
  content: "\ea9f";
}
.icon-computer-screen-12:before {
  content: "\eaa0";
}
.icon-content-book-22:before {
  content: "\eaa1";
}
.icon-content-book-62:before {
  content: "\eaa2";
}
.icon-content-bookmark-42:before {
  content: "\eaa3";
}
.icon-couch2:before {
  content: "\eaa4";
}
.icon-crop-image2:before {
  content: "\eaa5";
}
.icon-cursor-arrow-12:before {
  content: "\eaa6";
}
.icon-cursor-arrow-22:before {
  content: "\eaa7";
}
.icon-cursor-touch-12:before {
  content: "\eaa8";
}
.icon-data-download-52:before {
  content: "\eaa9";
}
.icon-data-upload-52:before {
  content: "\eaaa";
}
.icon-devices:before {
  content: "\eaab";
}
.icon-dna:before {
  content: "\eaac";
}
.icon-download-computer2:before {
  content: "\eaad";
}
.icon-eco-car2:before {
  content: "\eaae";
}
.icon-eco-factory2:before {
  content: "\eaaf";
}
.icon-eco-field2:before {
  content: "\eab0";
}
.icon-email-heart2:before {
  content: "\eab1";
}
.icon-email-inbox2:before {
  content: "\eab2";
}
.icon-email-outbox2:before {
  content: "\eab3";
}
.icon-email-timeout2:before {
  content: "\eab4";
}
.icon-envelope-12:before {
  content: "\eab5";
}
.icon-espresso-machine2:before {
  content: "\eab6";
}
.icon-exposure-level2:before {
  content: "\eab7";
}
.icon-female-1:before {
  content: "\eab8";
}
.icon-fence-caution:before {
  content: "\eab9";
}
.icon-file-bookmark2:before {
  content: "\eaba";
}
.icon-file-copy2:before {
  content: "\eabb";
}
.icon-file-hand2:before {
  content: "\eabc";
}
.icon-file-landscape-new-12:before {
  content: "\eabd";
}
.icon-file-new-12:before {
  content: "\eabe";
}
.icon-file-new-22:before {
  content: "\eabf";
}
.icon-file-notes-document2:before {
  content: "\eac0";
}
.icon-file-notes-new2:before {
  content: "\eac1";
}
.icon-file-office-graph2:before {
  content: "\eac2";
}
.icon-file-office-text2:before {
  content: "\eac3";
}
.icon-file-swap2:before {
  content: "\eac4";
}
.icon-file-tasks-add:before {
  content: "\eac5";
}
.icon-file-tasks-checklist:before {
  content: "\eac6";
}
.icon-file-tasks-close2:before {
  content: "\eac7";
}
.icon-file-tasks-subtract2:before {
  content: "\eac8";
}
.icon-file-zipped-new2:before {
  content: "\eac9";
}
.icon-file-zipped-vice2:before {
  content: "\eaca";
}
.icon-files-12:before {
  content: "\eacb";
}
.icon-files-22:before {
  content: "\eacc";
}
.icon-files-32:before {
  content: "\eacd";
}
.icon-fire-extinguisher2:before {
  content: "\eace";
}
.icon-fire-lighter2:before {
  content: "\eacf";
}
.icon-flash-off2:before {
  content: "\ead0";
}
.icon-flash2:before {
  content: "\ead1";
}
.icon-folder-add:before {
  content: "\ead2";
}
.icon-folder-check:before {
  content: "\ead3";
}
.icon-folder-close2:before {
  content: "\ead4";
}
.icon-folder-subtract2:before {
  content: "\ead5";
}
.icon-food-chicken-drum-stick2:before {
  content: "\ead6";
}
.icon-food-double-burger2:before {
  content: "\ead7";
}
.icon-food-icecream-22:before {
  content: "\ead8";
}
.icon-food-noodle-22:before {
  content: "\ead9";
}
.icon-food-plate-knife-fork2:before {
  content: "\eada";
}
.icon-food-steak2:before {
  content: "\eadb";
}
.icon-glass-cocktail-22:before {
  content: "\eadc";
}
.icon-gold-nuggets2:before {
  content: "\eadd";
}
.icon-graduation-hat2:before {
  content: "\eade";
}
.icon-gramophone:before {
  content: "\eadf";
}
.icon-greek-column:before {
  content: "\eae0";
}
.icon-hammer-anvil2:before {
  content: "\eae1";
}
.icon-hand-gun2:before {
  content: "\eae2";
}
.icon-hand-remote2:before {
  content: "\eae3";
}
.icon-hanging-rope2:before {
  content: "\eae4";
}
.icon-hat-12:before {
  content: "\eae5";
}
.icon-hat-magician2:before {
  content: "\eae6";
}
.icon-health-ambulance2:before {
  content: "\eae7";
}
.icon-health-graph-12:before {
  content: "\eae8";
}
.icon-health-heart-pulse2:before {
  content: "\eae9";
}
.icon-health-hospital-sign-12:before {
  content: "\eaea";
}
.icon-health-medicine-bottle2:before {
  content: "\eaeb";
}
.icon-health-prescription-2:before {
  content: "\eaec";
}
.icon-helicopter:before {
  content: "\eaed";
}
.icon-hot-air-balloon2:before {
  content: "\eaee";
}
.icon-hotel-bath-shower2:before {
  content: "\eaef";
}
.icon-hotel-bed-12:before {
  content: "\eaf0";
}
.icon-hotel-shower2:before {
  content: "\eaf1";
}
.icon-hotel-toilet-seat2:before {
  content: "\eaf2";
}
.icon-hourglass2:before {
  content: "\eaf3";
}
.icon-id-card-12:before {
  content: "\eaf4";
}
.icon-inbox2:before {
  content: "\eaf5";
}
.icon-key-hole-12:before {
  content: "\eaf6";
}
.icon-keyboard2:before {
  content: "\eaf7";
}
.icon-king2:before {
  content: "\eaf8";
}
.icon-kitchen-blender:before {
  content: "\eaf9";
}
.icon-kitchen-frying-machine:before {
  content: "\eafa";
}
.icon-kitchen-pan-fry2:before {
  content: "\eafb";
}
.icon-lamp-12:before {
  content: "\eafc";
}
.icon-lamp-studio-12:before {
  content: "\eafd";
}
.icon-laptop-12:before {
  content: "\eafe";
}
.icon-leisure-dj-booth2:before {
  content: "\eaff";
}
.icon-leisure-magic2:before {
  content: "\eb00";
}
.icon-leisure-marry-go-round2:before {
  content: "\eb01";
}
.icon-leisure-rest2:before {
  content: "\eb02";
}
.icon-location-gps-on-22:before {
  content: "\eb03";
}
.icon-location-map-12:before {
  content: "\eb04";
}
.icon-location-pin-42:before {
  content: "\eb05";
}
.icon-location-pin-add-2:before {
  content: "\eb06";
}
.icon-location-pin-bank-2:before {
  content: "\eb07";
}
.icon-location-pin-check-22:before {
  content: "\eb08";
}
.icon-location-pin-close-22:before {
  content: "\eb09";
}
.icon-location-pin-skull-22:before {
  content: "\eb0a";
}
.icon-location-pin-subtract-22:before {
  content: "\eb0b";
}
.icon-location-user2:before {
  content: "\eb0c";
}
.icon-lock-12:before {
  content: "\eb0d";
}
.icon-lock-unlock-12:before {
  content: "\eb0e";
}
.icon-login-check2:before {
  content: "\eb0f";
}
.icon-login-lock2:before {
  content: "\eb10";
}
.icon-login-wrong2:before {
  content: "\eb11";
}
.icon-mail-refresh-12:before {
  content: "\eb12";
}
.icon-match-stick:before {
  content: "\eb13";
}
.icon-mobile-phone-audio:before {
  content: "\eb14";
}
.icon-mobile-phone-check-12:before {
  content: "\eb15";
}
.icon-mobile-phone-close-12:before {
  content: "\eb16";
}
.icon-mobile-phone-off2:before {
  content: "\eb17";
}
.icon-monster-truck-12:before {
  content: "\eb18";
}
.icon-motorcycle-12:before {
  content: "\eb19";
}
.icon-motorcycle-22:before {
  content: "\eb1a";
}
.icon-music-note-12:before {
  content: "\eb1b";
}
.icon-nature-flower-12:before {
  content: "\eb1c";
}
.icon-nature-plant-12:before {
  content: "\eb1d";
}
.icon-navigation-before-12:before {
  content: "\eb1e";
}
.icon-navigation-next-12:before {
  content: "\eb1f";
}
.icon-network-business:before {
  content: "\eb20";
}
.icon-network-laptop:before {
  content: "\eb21";
}
.icon-nuclear-power-plant2:before {
  content: "\eb22";
}
.icon-operator-male2:before {
  content: "\eb23";
}
.icon-organization-hierarchy-32:before {
  content: "\eb24";
}
.icon-origami-paper-bird2:before {
  content: "\eb25";
}
.icon-outbox2:before {
  content: "\eb26";
}
.icon-paint-brush-12:before {
  content: "\eb27";
}
.icon-paper-pin2:before {
  content: "\eb28";
}
.icon-paperplane2:before {
  content: "\eb29";
}
.icon-pen-tablet2:before {
  content: "\eb2a";
}
.icon-pencil-22:before {
  content: "\eb2b";
}
.icon-pencil-ruler2:before {
  content: "\eb2c";
}
.icon-phone-incoming:before {
  content: "\eb2d";
}
.icon-phone-outgoing:before {
  content: "\eb2e";
}
.icon-photo-landscape2:before {
  content: "\eb2f";
}
.icon-photo-portrait2:before {
  content: "\eb30";
}
.icon-picture-layer-12:before {
  content: "\eb31";
}
.icon-pin-22:before {
  content: "\eb32";
}
.icon-places-christ-the-redeemer2:before {
  content: "\eb33";
}
.icon-places-colosseum2:before {
  content: "\eb34";
}
.icon-places-eiffel-tower2:before {
  content: "\eb35";
}
.icon-places-home-32:before {
  content: "\eb36";
}
.icon-places-home-42:before {
  content: "\eb37";
}
.icon-places-taj-mahal2:before {
  content: "\eb38";
}
.icon-places-warehouse-12:before {
  content: "\eb39";
}
.icon-places-water-well:before {
  content: "\eb3a";
}
.icon-pocket-knife:before {
  content: "\eb3b";
}
.icon-police-officer-12:before {
  content: "\eb3c";
}
.icon-polo-shirt2:before {
  content: "\eb3d";
}
.icon-projector2:before {
  content: "\eb3e";
}
.icon-quill2:before {
  content: "\eb3f";
}
.icon-receipt-12:before {
  content: "\eb40";
}
.icon-rechargable-battery2:before {
  content: "\eb41";
}
.icon-register-machine2:before {
  content: "\eb42";
}
.icon-remove-circle-12:before {
  content: "\eb43";
}
.icon-rewards-banner-check2:before {
  content: "\eb44";
}
.icon-rewards-gift2:before {
  content: "\eb45";
}
.icon-rewards-medal-12:before {
  content: "\eb46";
}
.icon-rewards-pedestal:before {
  content: "\eb47";
}
.icon-rewards-trophy-5:before {
  content: "\eb48";
}
.icon-ring-planet2:before {
  content: "\eb49";
}
.icon-romance-bow2:before {
  content: "\eb4a";
}
.icon-romance-love-target2:before {
  content: "\eb4b";
}
.icon-romance-relationship2:before {
  content: "\eb4c";
}
.icon-safe2:before {
  content: "\eb4d";
}
.icon-save-water2:before {
  content: "\eb4e";
}
.icon-scissors2:before {
  content: "\eb4f";
}
.icon-send-to-back2:before {
  content: "\eb50";
}
.icon-send-to-front2:before {
  content: "\eb51";
}
.icon-server-22:before {
  content: "\eb52";
}
.icon-server-add-12:before {
  content: "\eb53";
}
.icon-server-bug:before {
  content: "\eb54";
}
.icon-server-check-1:before {
  content: "\eb55";
}
.icon-server-close-12:before {
  content: "\eb56";
}
.icon-server-network-12:before {
  content: "\eb57";
}
.icon-server-subtract-12:before {
  content: "\eb58";
}
.icon-settings-12:before {
  content: "\eb59";
}
.icon-share-megaphone-22:before {
  content: "\eb5a";
}
.icon-share-radar2:before {
  content: "\eb5b";
}
.icon-share-signal-user2:before {
  content: "\eb5c";
}
.icon-shopping-basket-12:before {
  content: "\eb5d";
}
.icon-shopping-basket-22:before {
  content: "\eb5e";
}
.icon-shopping-basket-add2:before {
  content: "\eb5f";
}
.icon-shopping-basket-check2:before {
  content: "\eb60";
}
.icon-shopping-basket-close:before {
  content: "\eb61";
}
.icon-shopping-basket-subtract:before {
  content: "\eb62";
}
.icon-sign-elevator2:before {
  content: "\eb63";
}
.icon-sign-toilet2:before {
  content: "\eb64";
}
.icon-smart-watch-circle-navigation2:before {
  content: "\eb65";
}
.icon-smiley-dolar2:before {
  content: "\eb66";
}
.icon-smiley-poker-face2:before {
  content: "\eb67";
}
.icon-smiley-shy-12:before {
  content: "\eb68";
}
.icon-smiley-smile-22:before {
  content: "\eb69";
}
.icon-smiley-wink2:before {
  content: "\eb6a";
}
.icon-smiley-worry2:before {
  content: "\eb6b";
}
.icon-spa-bamboo2:before {
  content: "\eb6c";
}
.icon-spa-lotion2:before {
  content: "\eb6d";
}
.icon-spa-lotus-flower:before {
  content: "\eb6e";
}
.icon-speaker-volume-decrease:before {
  content: "\eb6f";
}
.icon-speaker-volume-high2:before {
  content: "\eb70";
}
.icon-speaker-volume-increase2:before {
  content: "\eb71";
}
.icon-speaker-volume-medium2:before {
  content: "\eb72";
}
.icon-speaker-volume-off2:before {
  content: "\eb73";
}
.icon-sport-basketball2:before {
  content: "\eb74";
}
.icon-sport-bowling2:before {
  content: "\eb75";
}
.icon-sport-dumbbell-12:before {
  content: "\eb76";
}
.icon-sport-football-field2:before {
  content: "\eb77";
}
.icon-sport-takraw2:before {
  content: "\eb78";
}
.icon-spray-bottle2:before {
  content: "\eb79";
}
.icon-star-constellation2:before {
  content: "\eb7a";
}
.icon-subtract-circle-1:before {
  content: "\eb7b";
}
.icon-sunny:before {
  content: "\eb7c";
}
.icon-switch-left2:before {
  content: "\eb7d";
}
.icon-switch-right2:before {
  content: "\eb7e";
}
.icon-synchronize-12:before {
  content: "\eb7f";
}
.icon-synchronize-22:before {
  content: "\eb80";
}
.icon-tank2:before {
  content: "\eb81";
}
.icon-telephone-12:before {
  content: "\eb82";
}
.icon-temple-22:before {
  content: "\eb83";
}
.icon-toilet-roll2:before {
  content: "\eb84";
}
.icon-tools-measuring-tape2:before {
  content: "\eb85";
}
.icon-tram2:before {
  content: "\eb86";
}
.icon-travel-bag-12:before {
  content: "\eb87";
}
.icon-travel-beach:before {
  content: "\eb88";
}
.icon-travel-camping:before {
  content: "\eb89";
}
.icon-travel-flippers2:before {
  content: "\eb8a";
}
.icon-travel-globe2:before {
  content: "\eb8b";
}
.icon-treasure-chest-open2:before {
  content: "\eb8c";
}
.icon-trolley-box-service2:before {
  content: "\eb8d";
}
.icon-umbrella-open2:before {
  content: "\eb8e";
}
.icon-undershirt2:before {
  content: "\eb8f";
}
.icon-underwear2:before {
  content: "\eb90";
}
.icon-upload-computer2:before {
  content: "\eb91";
}
.icon-user-add2:before {
  content: "\eb92";
}
.icon-user-chat-12:before {
  content: "\eb93";
}
.icon-user-check2:before {
  content: "\eb94";
}
.icon-user-female:before {
  content: "\eb95";
}
.icon-user-headphone:before {
  content: "\eb96";
}
.icon-user-heart2:before {
  content: "\eb97";
}
.icon-user-magnify2:before {
  content: "\eb98";
}
.icon-user-male2:before {
  content: "\eb99";
}
.icon-user-subtract2:before {
  content: "\eb9a";
}
.icon-vector-circle2:before {
  content: "\eb9b";
}
.icon-vector-line2:before {
  content: "\eb9c";
}
.icon-vector-square-12:before {
  content: "\eb9d";
}
.icon-vector-triangle2:before {
  content: "\eb9e";
}
.icon-video-call-12:before {
  content: "\eb9f";
}
.icon-video-call-mobile-phone2:before {
  content: "\eba0";
}
.icon-video-camera-32:before {
  content: "\eba1";
}
.icon-video-clip-3:before {
  content: "\eba2";
}
.icon-video-clip-4:before {
  content: "\eba3";
}
.icon-video-control-eject2:before {
  content: "\eba4";
}
.icon-video-control-fast-forward2:before {
  content: "\eba5";
}
.icon-video-control-next2:before {
  content: "\eba6";
}
.icon-video-control-pause2:before {
  content: "\eba7";
}
.icon-video-control-play2:before {
  content: "\eba8";
}
.icon-video-control-previous2:before {
  content: "\eba9";
}
.icon-video-control-record2:before {
  content: "\ebaa";
}
.icon-video-control-rewind2:before {
  content: "\ebab";
}
.icon-video-control-stop2:before {
  content: "\ebac";
}
.icon-video-games-gameboy2:before {
  content: "\ebad";
}
.icon-video-games-pacman-ghost2:before {
  content: "\ebae";
}
.icon-video-games-pacman:before {
  content: "\ebaf";
}
.icon-volcanoe:before {
  content: "\ebb0";
}
.icon-vote-heart-circle-12:before {
  content: "\ebb1";
}
.icon-vote-plus-one2:before {
  content: "\ebb2";
}
.icon-vote-thumbs-down2:before {
  content: "\ebb3";
}
.icon-vote-thumbs-up2:before {
  content: "\ebb4";
}
.icon-wallet2:before {
  content: "\ebb5";
}
.icon-warehouse-box2:before {
  content: "\ebb6";
}
.icon-water-droplet2:before {
  content: "\ebb7";
}
.icon-water-tap2:before {
  content: "\ebb8";
}
.icon-water-tower2:before {
  content: "\ebb9";
}
.icon-wind-flag2:before {
  content: "\ebba";
}
.icon-window-programming2:before {
  content: "\ebbb";
}
.icon-window:before {
  content: "\ebbc";
}
.icon-back-arrow:before {
  content: "\ebbd";
}
.icon-legal:before {
  content: "\ebbe";
}
.icon-icon-player-x125:before {
  content: "\ebbf";
}
.icon-player-x075:before {
  content: "\ebc0";
}
.icon-player-x15:before {
  content: "\ebc1";
}
.icon-marketing:before {
  content: "\ebc2";
}
.icon-ecommerce:before {
  content: "\ebc3";
}
.icon-player-x2:before {
  content: "\ebc4";
}
.icon-latest:before {
  content: "\ebc5";
}
.icon-presentation:before {
  content: "\ebc6";
}
.icon-player-x1:before {
  content: "\ebc7";
}
.icon-technical:before {
  content: "\ebc8";
}
.icon-success:before {
  content: "\ebc9";
}
.icon-currently-viewing:before {
  content: "\ebca";
}
.icon-financial:before {
  content: "\ebcb";
}
.icon-player-pause:before {
  content: "\ebcc";
}
.icon-player-cc:before {
  content: "\ebcd";
}
.icon-player-error:before {
  content: "\ebce";
}
.icon-player-HD:before {
  content: "\ebcf";
}
.icon-freelance:before {
  content: "\ebd0";
}
.icon-player-skip-back:before {
  content: "\ebd1";
}
.icon-player-play:before {
  content: "\ebd2";
}
.icon-player-play-thick:before {
  content: "\ebd3";
}
.icon-clock-face:before {
  content: "\ebd4";
}
.icon-publishing:before {
  content: "\ebd5";
}
.icon-fundamentals:before {
  content: "\ebd6";
}
.icon-productivity:before {
  content: "\ebd7";
}
.icon-player-next:before {
  content: "\ebd8";
}
.icon-player-documents:before {
  content: "\ebd9";
}
.icon-player-pause-thick:before {
  content: "\ebda";
}
.icon-player-previous:before {
  content: "\ebdb";
}
.icon-motivational:before {
  content: "\ebdc";
}
.icon-player-congratulations:before {
  content: "\ebdd";
}
.icon-chevron-right:before {
  content: "\ebde";
}
.icon-chevron-left:before {
  content: "\ebdf";
}
.icon-tick-thin:before {
  content: "\ebe0";
}
.icon-chevron-up:before {
  content: "\ebe1";
}
.icon-chevron-down:before {
  content: "\ebe2";
}
.icon-player-complete:before {
  content: "\ebe3";
}
.icon-document-dot:before {
  content: "\ebe4";
}
.icon-document-download:before {
  content: "\ebe5";
}
.icon-document-pdf:before {
  content: "\ebe6";
}
.icon-full-screen:before {
  content: "\ebe7";
}
.icon-amazing-logo:before {
  content: "\ebe8";
}
.icon-star-rating:before {
  content: "\ebe9";
}
.icon-hamburger:before {
  content: "\ebea";
}
.icon-minimize:before {
  content: "\ebeb";
}
.icon-question:before {
  content: "\ebec";
}
.icon-tick:before {
  content: "\ebed";
}
.icon-doc-blank:before {
  content: "\ebee";
}
.icon-sound-off:before {
  content: "\ebef";
}
.icon-sound-on:before {
  content: "\ebf0";
}
.icon-android3:before {
  content: "\ebf1";
}
.icon-apple:before {
  content: "\ebf2";
}
.icon-star-1px:before {
  content: "\ebf3";
}
.icon-star-2px:before {
  content: "\ebf4";
}
.icon-star-3px:before {
  content: "\ebf5";
}
.icon-credit-card:before {
  content: "\ebf6";
}
.icon-user-contact:before {
  content: "\ebf7";
}
.icon-clipboard:before {
  content: "\ebf8";
}
.icon-half-star:before {
  content: "\ebf9";
}
.icon-spinner:before {
  content: "\ebfa";
}
.icon-search:before {
  content: "\ebfb";
}
.icon-currently-viewing2:before {
  content: "\ebfc";
}
.icon-crazy-star:before {
  content: "\ebfd";
}
.icon-currently-viewing-thin:before {
  content: "\ebfe";
}
.icon-freelance-thin:before {
  content: "\ebff";
}
.icon-purchased-course:before {
  content: "\ec00";
}
.icon-hide-password:before {
  content: "\ec01";
}
.icon-show-password:before {
  content: "\ec02";
}
.icon-purchased-course-thin:before {
  content: "\ec03";
}
.icon-badge-circle:before {
  content: "\ec04";
}
.icon-badge-crest:before {
  content: "\ec05";
}
.icon-badge-emblem:before {
  content: "\ec06";
}
.icon-badge-hex:before {
  content: "\ec07";
}
.icon-badge-shield:before {
  content: "\ec08";
}
.icon-badge-sticker:before {
  content: "\ec09";
}
.icon-account-settings:before {
  content: "\ec0a";
}
.icon-sign-out:before {
  content: "\ec0b";
}
.icon-support:before {
  content: "\ec0c";
}
.icon-amazon:before {
  content: "\ec0d";
}
.icon-dollar:before {
  content: "\ec0e";
}
.icon-lightbulb:before {
  content: "\ec0f";
}