<div id="footer" class="categories">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-xs-6">
                Copyright @ 2016 Amazing.com
            </div>
            <div class="col-xs-6">
                Terms & Conditions | Privacy | Copyright
            </div>
        </div>
    </div>
</div>