<div class="container">
    <h1>Sign In as:<br/><br/></h1>
    <div class="row">
        <div class="col-md-12">
            <ul class="user--list">
                <li ng-click="home.selectLoginUSer(0)">Marius</li>
                <li>&nbsp;</li>
                <li ng-click="home.selectLoginUSer(1)">Christian</li>
                <li>&nbsp;</li>
                <li ng-click="home.selectLoginUSer(2)">Gary</li>
                <li>&nbsp;</li>
                <li ng-click="home.selectLoginUSer(3)">Marius</li>
            </ul>
        </div>
    </div>
</div>