<nav class="az-navbar az-navbar-fixed-top" role="navigation" ng-if="currentUser">
    <div class="container">

        <div class="row">
            <div class="az-navbar-brand col-md-3" id="amazingLogo">
                <a href="#">
                    <i class="icon-amazing-logo" title="Amazing.com"></i>
                </a>
            </div>

            <div class="col-md-9">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="az-nav az-nav-primary pull-right">
                    <li class="az-nav-item az-nav-item-primary">
                        <a href="{{coursesUrl}}">Courses</a>
                    </li>
                    <li class="az-nav-item az-nav-item-primary">
                        <a href="{{legacyCommunityUrl}}">Community</a>
                    </li>
                    <li ng-if="notificationsExist" role="separator" class="az-nav-item divider-vertical"></li>
                    <li ng-if="notificationsExist" class="az-nav-item az-nav-item-primary">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-alien-head2" title="Notifications"><span class="alert-number">88</span></i>
                            <i class="icon-chevron-down"></i>
                            <i class="icon-chevron-up"></i>
                        </a>
                        <notifications-menu></notifications-menu>
                    </li>
                    <li role="separator" class="az-nav-item divider-vertical"></li>
                    <li class="az-nav-item az-nav-item-primary dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-if="currentUser.avatarUrl" src="{{currentUser.avatarUrl}}" alt="" class="avatar avatar-small pull-left">
                            <img ng-if="!currentUser.avatarUrl" src="img/defaultAvatar.png" alt="" class="avatar avatar-small pull-left">
                            {{currentUser.firstName ? currentUser.firstName : currentUser.username}}
                            <i class="icon-chevron-down"></i>
                        </a>
                        <ul class="az-nav-sub dropdown-menu">
                            <li class="az-nav-sub-item">
                                <a href="#/profile/{{currentUser.username}}" class="clearfix">
                                    <img ng-if="currentUser.avatarUrl" src="{{currentUser.avatarUrl}}" alt="" class="avatar avatar-small pull-left">
                                    <img ng-if="!currentUser.avatarUrl" src="img/defaultAvatar.png" alt="" class="avatar avatar-small pull-left">
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="az-nav-sub-item">
                                <a href="{{accountUrl}}" class="clearfix">
                                    <i class="icon-account-settings"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li class="az-nav-sub-item">
                                <a href="{{supportUrl}}" class="clearfix">
                                    <i class="icon-support"></i>
                                    <span>Support</span>
                                </a>
                            </li>
                            <li class="az-nav-sub-item">
                                <a href="{{signOutUrl}}" class="clearfix">
                                    <i class="icon-sign-out"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="dropdown dropdown-mobile">
                    <button type="button" class="az-navbar-toggle dropdown-toggle" data-toggle="dropdown">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="icon-hamburger"></i>
                    </button>
                    <ul class="dropdown-menu az-nav-primary-mobile">
                        <li class="az-nav-primary-mobile-item">
                            <a href="{{coursesUrl}}">Courses</a>
                        </li>
                        <li class="az-nav-primary-mobile-item">
                            <a href="{{legacyCommunityUrl}}">Community</a>
                        </li>
                        <li ng-if="notificationsExist" class="az-nav-primary-mobile-item">
                            <a href="">Notifications</a>
                        </li>
                        <li class="az-nav-primary-mobile-item">
                            <a href="#/profile/{{currentUser.username}}">
                                <img ng-if="currentUser.avatarUrl" src="{{currentUser.avatarUrl}}" alt="" class="avatar avatar-small pull-left">
                                <img ng-if="!currentUser.avatarUrl" src="img/defaultAvatar.png" alt="" class="avatar avatar-small pull-left">
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="az-nav-primary-mobile-item">
                            <a href="{{accountUrl}}">
                                <i class="icon-account-settings"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="az-nav-primary-mobile-item">
                            <a href="{{supportUrl}}">
                                <i class="icon-support"></i>
                                <span>Support</span>
                            </a>
                        </li>
                        <li class="az-nav-primary-mobile-item">
                            <a href="{{signOutUrl}}">
                                <i class="icon-sign-out"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="clearfix">
</nav>