<actionmenu items="vm.actionMenuList" hide-ask="true"></actionmenu>
<div class="container ask-question">
    <div class="row main-container">
        <div class="col-md-8 col-sm-8">
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <h1 class="community-h1">Ask a question</h1>
                    </div>
                    <div class="col-xs-2  visible-xs help-question">
                        <i class="icon-question" ng-click="vm.toggleHelp()"></i>
                    </div>
                </div>
                <div class="row animated-content visible-xs" ng-if="vm.showHelp">
                    <div class="ask-question-advice">
                        <h4>Get Answers to your Question</h4>
                        <div class="content-wrapper">
                            <ul>
                                <li><span>Ask a question that <strong>can be answered</strong>, not just discussed.</span></li>
                                <li><span><b>You should add at least one #tag</b>, so others can find and answer your question.
                            You can add up to 5 tags.</span></li>
                                <li><span>Use <b>@username</b> to mention and notify other members who might be able to answer your question.</span></li>
                                <li><span>Watch our <b>1min video</b> on how to use #tags and @mentions.</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="video-thumb button-space" ng-click="vm.openHelpVideo()">
                        <div class="icon-player-play-thick"></div>
                    </div>
                </div>
                <div class="row title-row">
                    <div class="col-md-12" scroll-to-view
                         should-scroll="vm.titleError">
                        <textarea class='mention-question-title question-autocomplete question-title-input'
                                  placeholder="What’s your question? Be specific."
                                  maxlength="140"
                                  ng-maxlength="140"
                                  ng-class="{'focus-question-detail': vm.focusField, 'input-error': vm.titleError && vm.questionTitle.length < 10}"
                                  ng-focus="vm.setFieldFocus()"
                                  focus-field
                                  smart-text-area
                                  words="vm.suggestedTags"
                                  added-tag="vm.addTagsTitle(tag)"
                                  ng-model="vm.questionTitle"></textarea>
                        <div class="prompt" ng-show="vm.showPrompt">
                            <div class="prompt-body">
                                <div class="prompt-title">
                                    <h3 >Add #tags</h3>
                                    <i class="icon-close" ng-click="vm.closePrompt()"></i>
                                </div>
                                <div class="prompt-content">
                                    {{::vm.promptText}}
                                </div>
                                <a class="prompt-footer" type="button" ng-click="vm.closePrompt()">Got it!</a>
                            </div>
                        </div>
                        <span ng-if="vm.titleError && vm.questionTitle.length < 10" class="error-text">Please ask a question with at least 10 and no more than 140 characters.</span>
                        <span class="help">/ Use between 10 and 140 characters.</span>
                        <span class="countdown"
                              ng-class="{ 'countdown-red': vm.questionTitle.length < 10 , 'countdown-green':vm.questionTitle.length >= 10 }">
                            {{vm.questionTitle.length}}
                        </span>

                        <div class="suggested-tags">
                            <span class="suggested-tags-header">Suggested Tags</span>
                            <span class="suggested-tags-info">Select tags from the list below.</span><br/>
                            <div class="suggested-tags-wrapper">
                                <span ng-if="!vm.suggestedTags">No tags found.</span>
                                <span class="hashtags-display" ng-click="vm.suggestedTag(tag)" ng-repeat="tag in vm.suggestedTags | limitTo:4">{{tag}}</span>
                            </div>
                        </div>

                        <textarea class='mention-question-detail question-autocomplete question-detail-input'
                                  placeholder="Add more detail here. #Tags help people find and answer your question."
                                  ng-class="{'focus-question-detail': vm.focusField}"
                                  ng-focus="vm.setFieldFocus()"
                                  ng-maxlength="10000"
                                  maxlength="10000"
                                  smart-text-area
                                  words="vm.suggestedTags"
                                  added-tag="vm.addTagsDescription(tag)"
                                  ng-model="vm.questionDesc"></textarea>

                        <div class="error-container">
                            <div ng-if="vm.showTagsWarningAlert" class="warning-alert animated-content">
                                <span>We recommend adding tags to your question</span>
                            </div>
                            <div ng-if="vm.showTagsErrorAlert" class="error-alert animated-content">
                                <span class="bolder-text">Too many tags</span>
                                <span>- You can add a maximum of 20 tags to your question</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row submit-answer-button">
                    <div class="col-md-12">
                        <button class="com-btn com-btn--primary pull-right"
                                ng-class="{'progress-button': vm.loading}"
                                ng-click="vm.postAnswer()">
                            <span ng-if="vm.loading" class='icon-spinner icon-spinning'></span>
                            <span ng-if="!vm.loading">Post my Question</span>
                        </button>
                        <button class="com-btn com-btn--secondary pull-right" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 hidden-xs">
            <div class="ask-question-advice">
                <h4>Get Answers to your Question</h4>
                <div class="content-wrapper">
                    <ul>
                        <li><span>Ask a question that <strong>can be answered</strong>, not just discussed.</span></li>
                        <li><span><b>You should add #tags</b>, so others can find and answer your question.</span></li>
                        <li><span>Use <b>@username</b> to mention and notify other members who might be able to answer your question.</span></li>
                        <li><span>Watch our <b>1min video</b> on how to use #tags and @mentions.</span></li>
                    </ul>
                </div>
            </div>
            <div class="video-thumb" ng-click="vm.openHelpVideo()">
                <div class="icon-player-play-thick"></div>
            </div>
        </div>
    </div>
</div>