<actionmenu items="vm.actionMenuList"></actionmenu>
<div class="container question-answers">
    <section>
        <h1 class="heading-1">Get Help For Your Business</h1>
    </section>

    <section class="questions-tabs-container clearfix">
        <localtabs info="vm.localTabsData"></localtabs>
    </section>

    <section class="container-fluid">
        <question-item question="question" ng-repeat="question in vm.questions"></question-item>
        <div ng-if="vm.errorMsg">
            <span>{{vm.errorMsg}}</span>
        </div>
    </section>
</div>