<div class="question-item group row" ng-click="goToQuestion(question)">
    <div class="col-sm-1 col-xs-2 question-item__answers">
        <div class="question-item__answers-total">{{question.numberOfAnswers}}</div>
        <p ng-if="question.numberOfAnswers === 1">answer</p>
        <p ng-if="question.numberOfAnswers === 0 || question.numberOfAnswers > 1">answers</p>
        <i ng-if="question.hasAcceptedAnswer" class="icon-tick text__mod question-item__answers-accepted" title="Has An Accepted Answer"></i>
    </div>
    <div class="col-sm-2 col-xs-10 question-item__user" ng-click="goToUser(question.user); $event.stopPropagation();">
        <img ng-if="question.user.avatarUrl"  ng-src="{{::question.user.avatarUrl}}" class="avatar">
        <img ng-if="!question.user.avatarUrl"  ng-src="img/defaultAvatar.png" class="avatar">
        <label><a href="">@{{question.user.username}}</a></label>
    </div>
    <div class="col-sm-9 col-xs-12 question-item__summary">
        <h1 hashtagify term-click="tagClick($event)" ng-model="question.text">{{::question.text}}</h1>
        <div class="question-item__summary-time">{{question.created_at | timeFilter}}</div>
        <p hashtagify term-click="tagClick($event)" ng-model="question.detail">{{::question.detail}}</p>
        <div>
            <span class="hashtags-display" ng-click="searchTag(tag.name);  $event.stopPropagation();" ng-repeat="tag in question.tags">#{{tag.name}}</span>
        </div>
    </div>
</div>